<%- include('../partials/adminHeader') %>

<div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
    <h1 class="text-center">Welcome <%= myAdmin.email %></h1>
  </div>

  <%- include('../partials/adminFooter') %>