<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--===============================================================================================-->
    <title>Home</title>
    <link rel="icon" type="image/png" href="images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/MagnificPopup/magnific-popup.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="stylesheets/util.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <script src="/node_modules/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <link href="
https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css
" rel="stylesheet">

</head>

<body>

    <body>


        <div class="row">
            <div class="col-md-6 m-auto">
                <div class="container mt-5 pl-5">
                    <h2 class="text-center">Sign Up</h2>

                    <% if (message.length>0) { %>
                        <div class="alert alert-danger" id="flashMessage">
                            <i class="fa-solid fa-triangle-exclamation" style="color: #ff0000;"></i>
                            <%=message %>
                        </div>
                        <% } %>

                            <form action="/userSignUpPost" method="post" id="form" onsubmit="return submitForm(this);">
                                <div class="form-group ">
                                    <label for="">Name</label>
                                    <input type="text" class="form-control" name="Name" placeholder="Enter Your Name"
                                        id="name">

                                    <span class=" text-danger" id="name-error"></span>


                                </div>
                                <div class="form-group ">
                                    <label for="">Email Address</label>
                                    <input type="text" class="form-control" name="Email" placeholder="Enter email"
                                        id="email">
                                    <span class=" text-danger" id="email-error"></span>
                                </div>
                                <div class="form-group ">
                                    <label for="">Mobile Number</label>
                                    <input type="text" class="form-control" name="Mobile"
                                        placeholder="Enter your Mobile number" id="mobile">
                                    <span class=" text-danger" id="mob-error"></span>
                                </div>
                                <div class="form-group ">
                                    <label for="">Password</label>
                                    <input type="password" class="form-control" name="Password" placeholder="Password"
                                        id="password">
                                    <span id="password-error"></span>
                                </div>
                                <div class="form-group">
                                    <label for="">confirm Password</label>
                                    <input type="password" class="form-control" id="cnfrm-password"
                                        placeholder="Confirm password" onkeyup="validateConfirmPassword()">
                                    <span id="pass-error"></span>
                                </div>
                                <div class="form-group">
                                    <a href="/login">Already have a Account?</a>
                                    <button type="submit" class="btn btn-primary float-right">Submit</button>
                                </div>
                            </form>
                </div>
            </div>
        </div>


        <script>
            const form = document.getElementById('form')

            form.addEventListener('submit', (event) => {
                validateForm();


                const nameError = document.getElementById('name-error');
                const emailError = document.getElementById('email-error');
                const mobError = document.getElementById('mob-error');
                const passError = document.getElementById('password-error');

                if (nameError.innerHTML !== '' || emailError.innerHTML !== '' || mobError.innerHTML !== '' || passError.innerHTML !== '') {
                    event.preventDefault(); // Prevent form submission only when there are validation errors
                }
            });

            const passwordValue = document.getElementById('password')
            const cfmPassword = document.getElementById('cnfrm-password')

            cfmPassword.addEventListener('keyup', () => {
                validateConfirmPassword(passwordValue.value, cfmPassword.value)
            })

            function validateForm() {
                //name Validation
                var nameValue = document.getElementById("name").value;
                const nameError = document.getElementById('name-error')

                if (nameValue.trim() == '') {
                    nameError.innerHTML = 'Name is required'
                    // setError(name, 'name acnnot be empty')
                } else if (!nameValue.match(/^[a-zA-Z0-9_]+$/)) {
                    nameError.innerHTML = "Write valid name";
                } else if (nameValue.match(/^[a-zA-Z0-9_]+$/)) {
                    nameError.innerHTML = "";
                }

                //emial Validation
                var emailValue = document.getElementById("email").value;
                const emailError = document.getElementById('email-error')

                if (emailValue.trim() == "") {
                    emailError.innerHTML = 'emial id is reqired'
                } else if (!emailValue.match(/^[^\s@]+@[^\s@]+\.[^\s@]+$/)) {
                    emailError.innerHTML = 'type a valid emial id'
                } else if (emailValue.match(/^[^\s@]+@[^\s@]+\.[^\s@]+$/)) {
                    emailError.innerHTML = "";
                }

                //mobile validation
                var mobValue = document.getElementById("mobile").value;
                const mobError = document.getElementById('mob-error')

                if (mobValue.trim() == "") {
                    mobError.innerHTML = 'mobile number is reqired'
                } else if (!mobValue.match(/^\d{10}$/)) {
                    mobError.innerHTML = 'type a valid mobile number'
                } else if (mobValue.match(/^\d{10}$/)) {
                    mobError.innerHTML = "";
                }

                //password validation
                var passwordValue = document.getElementById('password').value
                const passError = document.getElementById('password-error')
                // const cfrmPass = document.getElementById('pass-error')
                // const cfrmPassValue = document.getElementById('cnfrm-password').value

                if (passwordValue.trim() == "") {
                    passError.innerHTML = 'please enter a password'
                } else if (!passwordValue.match(/^(?=.*[\W_])[\w\W]|^[a-zA-Z]|^.{8,}$/)) {
                    passError.innerHTML = 'please enter a valid password please'
                } else if (passwordValue.match(/^(?=.*[\W_])[\w\W]|^[a-zA-Z]|^.{8,}$/)) {
                    passError.innerHTML = ''
                }

            }

            function validateConfirmPassword(password, confirmPassword) {
                const cfrmPass = document.getElementById('pass-error')
                const passError = document.getElementById('password-error')
                if (password == confirmPassword) {
                    cfrmPass.innerHTML = 'password match';
                    passError.innerHTML = 'password match'
                    passError.style.color = 'green'
                    cfrmPass.style.color = 'green';
                } else {
                    cfrmPass.innerHTML = 'password is not matching';
                    passError.innerHTML = 'password is not matching'
                    passError.style.color = 'red'
                    cfrmPass.style.color = 'red';
                }
            }

            function submitForm(form) {
                const nameValue = document.getElementById("name").value;
                const emailValue = document.getElementById("email").value;
                const mobValue = document.getElementById("mobile").value;
                const passwordValue = document.getElementById('password').value;

                if (nameValue.trim() === '' || emailValue.trim() === '' || mobValue.trim() === '' || passwordValue.trim() === '') {
                    swal.fire({
                        title: "Please fill all fields",
                        icon: "warning",
                        confirmButtonText: "OK"
                    });
                    return false;
                } else {
                    swal.fire({
                        title: "Are you sure?",
                        text: "This form will be submitted",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true
                    })
                        .then((isOkay) => {
                            if (isOkay) {
                                form.submit();
                            }
                        });
                    return false;
                }
            }

            //disappearing the flash message
            setTimeout(() => {
                document.getElementById('flashMessage').style.display = 'none';
            }, 3000);



        </script>

        <script src="https://kit.fontawesome.com/1457d0b10a.js" crossorigin="anonymous"></script>

        <!--===============================================================================================-->
        <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/animsition/js/animsition.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/bootstrap/js/popper.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/select2/select2.min.js"></script>
        <script>
            $(".js-select2").each(function () {
                $(this).select2({
                    minimumResultsForSearch: 20,
                    dropdownParent: $(this).next('.dropDownSelect2')
                });
            })
        </script>
        <!--===============================================================================================-->
        <script src="vendor/daterangepicker/moment.min.js"></script>
        <script src="vendor/daterangepicker/daterangepicker.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/slick/slick.min.js"></script>
        <script src="javascripts/slick-custom.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/parallax100/parallax100.js"></script>
        <script>
            $('.parallax100').parallax100();
        </script>
        <!--===============================================================================================-->
        <script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
        <script>
            $('.gallery-lb').each(function () { // the containers for all your galleries
                $(this).magnificPopup({
                    delegate: 'a', // the selector for gallery item
                    type: 'image',
                    gallery: {
                        enabled: true
                    },
                    mainClass: 'mfp-fade'
                });
            });
        </script>
        <!--===============================================================================================-->
        <script src="vendor/isotope/isotope.pkgd.min.js"></script>
        <!--===============================================================================================-->
        <script src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js
"></script>
        <script>
            $('.js-addwish-b2').on('click', function (e) {
                e.preventDefault();
            });

            $('.js-addwish-b2').each(function () {
                var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
                $(this).on('click', function () {
                    swal(nameProduct, "is added to wishlist !", "success");

                    $(this).addClass('js-addedwish-b2');
                    $(this).off('click');
                });
            });

            $('.js-addwish-detail').each(function () {
                var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

                $(this).on('click', function () {
                    swal(nameProduct, "is added to wishlist !", "success");

                    $(this).addClass('js-addedwish-detail');
                    $(this).off('click');
                });
            });

            /*---------------------------------------------*/

            $('.js-addcart-detail').each(function () {
                var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
                $(this).on('click', function () {
                    swal(nameProduct, "is added to cart !", "success");
                });
            });

        </script>
        <!--===============================================================================================-->
        <script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
        <script>
            $('.js-pscroll').each(function () {
                $(this).css('position', 'relative');
                $(this).css('overflow', 'hidden');
                var ps = new PerfectScrollbar(this, {
                    wheelSpeed: 1,
                    scrollingThreshold: 1000,
                    wheelPropagation: false,
                });

                $(window).on('resize', function () {
                    ps.update();
                })
            });
        </script>
        <!--===============================================================================================-->
        <script src="javascripts/main.js"></script>

    </body>

</html>